<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jv.Properties.Settings.bdapoupeau4ConnectionString"
            connectionString="User Id=sqlgpasquier;Password=savary;Host=192.168.2.4;Database=bdgpasquier7"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>